 body {
  background-image: url('./IMG/bosque-minimalista-yc5zbn9b8a4cesjr.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: 0;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 0 4px 15px rgba(0,0,0,0.35);
  margin-bottom: 40px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}



.input-group {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.list-group-item {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
} 

